@import "mocha";
@import "fonts";

window {
  background-color: transparent;
  font-family: $sansSerif;
  font-weight: 500;
  font-size: 11pt;
}

entry {
  background-color: $crust;
  color: $text;
  box-shadow: none;
  border-style: solid;
  border-color: rgba(100%, 100%, 100%, 0.05);
  margin-top: 10px;
  margin-bottom: 5px;
}

#main {
  background-color: transparent;

  & > #plugin {
    background-color: $mantle;
    border: solid 1px rgba(100%, 100%, 100%, 0.05);
  }
}

list {
  background-color: transparent;
  border-radius: 10px;
}

row {
  padding: 5px;
  color: rgba(100%, 100%, 100%, 0.5);
  border-radius: 10px;

  &:selected {
    background-color: rgba(100%, 100%, 100%, 0.1);
    color: white;
  }

  &#plugin {
    margin-bottom: 10px;
    padding: 10px;
  }
}

#plugin {
  color: rgba(100%, 100%, 100%, 0.8);
}
