@import "wallpaper";
@import "fonts";
@import "mocha";

window {
  background: $wallpaperUrl;
  background-size: cover;

  font-family: $sansSerif;
  color: $text;
}

#window-box {
  background: $base;
  box-shadow: 0 0px 24px 0px rgba(0, 0, 0, 1);
  border-radius: 16px;
  padding: 36px;
  margin: 20px;
}

#clock-label {
  font-size: 48pt;
  font-weight: lighter;
  margin-top: 48px;
  margin-bottom: 48px;
}

#input-label {
  font-size: 0pt;
}

#input-field {
  background: $crust;
  color: $text;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 16px;
  padding: 16px;
  box-shadow: none;
}

#unlock-button {
  margin-top: 20px;
  background: $lavender;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 1000000px;
  padding: 16px 24px;
}

#unlock-button label {
  color: $crust;
}
